body{
    margin: 0px;
}

#main-div{
    max-width: 1500px;
    min-width: 1200px;
}

#title{
    background-image: url("../img/фон.png");
    min-height: 70vh;
    
    background-repeat: no-repeat;
    background-size: cover;
}

#title-text{
    display: block;
    width: 65%;
    padding-top: 7vh; 
    margin-left: auto;
    margin-right: auto;
}

#content{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    /*margin: 0px, 20px, 10px, 20px;*/
}

#content > h1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.cards > div{
    background-color: #231B0C;
    width: 32%;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

#central-card{
    margin-left: 1.6%;
    margin-right: 1.6%;
}

.card-image{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
}

.card-text{
    display: block;
    height: 45px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#image-street{
    display: block;
    width: 100%;
    margin-top: 25px;
}

#footer{
    background-color: #150F02;
    margin-top: 25px;
}

.footer-links{
    display: inline-block;
    vertical-align: top;
}

.footer-links > a{
    display: block;
    height: 25px;
    margin-top: 25px;
}

#links1{
    margin-left: 25%;
    width: 40%;
    
}

#contacts{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#contacts > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    border-bottom: 8px solid orangered;
}

#contacts > div{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#contacts > div > a{
    margin-left: 25px;
}